:root {
    --primary-font-family:'Roboto',sans-serif; 
    --secondary-font-family: 'Raleway',sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --additional-color:#FFFFFF;
    --background-color-hero-footer:#2F303A;
    --rare-color:#000000;
    --primary-text-size:700;
    --secondary-text-size:500;
  }
  .list {
  list-style: none;
  }
  .link {
  text-decoration: none;
  }
  a {
  color:var(--primary-text-color);
  text-decoration:none
  }
  
  
  /* =======Body====== */
  
  .body{
  font-family: var(--primary-font-family)
  
  }
  /* =======/Body====== */
  
  /* =======HEADER====== */
  .logo-collor {
  font-family:var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  
  }
  .menu-item{
  font-weight: var(--secondary-text-size);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  }
  .logo{
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--rare-color);
  }
  .menu-link:hover,
  .menu-link:focus{
  color: var(--accent-color);
  
  }
  .navigation .menu-link.link.current {
  color: var(--accent-color);
  }
  .page-header-mailto,
  .page-header-phone-number
  {
  font-weight: var(--secondary-text-size);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  }
  .page-header-mailto:hover,
  .page-header-mailto:focus{
  color: var(--accent-color);
  }
  .page-header-phone-number:hover,
  .page-header-phone-number:focus{
  color: var(--accent-color);
  }
  
  /* ======= /HEADER====== */
  
  /* ======Hero====== */
  .order-btn{
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;  
  letter-spacing: 0.06em;
  color: var(--additional-color);
  }
  .order-btn:hover,
  .order-btn:focus
  {
  color: var(--additional-color);
  background:#188CE8  
    
  }
  .hero-background{
  background: var(--background-color-hero-footer);
  }
  .buttons-porfolio{
  font-weight: var(--secondary-text-size);
  font-size: 16px;
  line-height: 1.6;   
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  }
  .buttons-porfolio-all:hover,
  .buttons-porfolio-all:focus,
  .buttons-porfolio-website:hover,
  .buttons-porfolio-website:focus,
  .buttons-porfolio-applications:hover,
  .buttons-porfolio-applications:focus,
  .buttons-porfolio-design:hover,
  .buttons-porfolio-design:focus,
  .buttons-porfolio-marketing:hover,
  .buttons-porfolio-marketing:focus
  {
  background: var(--accent-color);
  cursor: pointer;
  color: var(--additional-color);
  }
  /* ======Developments====== */
  
  .developments-title{
  font-weight: var(--primary-text-size);
  font-size: 18px;
  line-height: 2;  
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  background: var(--additional-color);
  }
  .developments-offer{
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--additional-color);
  }
  /* ======/Developments====== */
  
  .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-color);
  }
  
  
  /* ====== /Hero====== */
  
  /*======Peculiarities======*/
  .paragraph-title{
  font-weight: var(--primary-text-size);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  }
  .paragraph-description{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  }
  
  /*======/Peculiarities======*/
  
  /* ======Services====== */
  
  .service-list{
  font-weight: var(--primary-text-size);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  }
  
  /* ======/Services====== */
  
  
  /* ======Team====== */
  .team{
  background: #E5E5E5;
  }
  .our-team{
  font-weight: var(--primary-text-size);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  }
  .employees{
  font-weight: var(--secondary-text-size);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  
  }
  .employee-responsibilities{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  
  }
  
  /* ======/Team====== */
  
  /*======Address-footer====== */
  .background-footer{
  background: var(--background-color-hero-footer);
  }
  .logo-collor-footer{
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  }
  .logo-footer{
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  
  }
  
  address{
  font-style: normal;
  }
  .list-address-map{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color); 
  
  }
  .list-address-map:hover,
  .list-address-map:focus{
  color: var(--accent-color);
  }
  .list-address-mailto,
  .list-address-tel{
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }
  
  .list-address-mailto:hover,
  .list-address-mailto:focus{
  color: var(--accent-color); 
  }
  .list-address-tel:hover,
  .list-address-tel:focus{
  color: var(--accent-color);   
  }
  
  /*======/Address-footer====== */